//! **************************************************************************
// Written by: Map P.20131013 on Sun Nov 11 18:00:48 2018
//! **************************************************************************

SCHEMATIC START;
COMP "CD" LOCATE = SITE "D16" LEVEL 1;
COMP "CE" LOCATE = SITE "G14" LEVEL 1;
COMP "CF" LOCATE = SITE "J17" LEVEL 1;
COMP "CG" LOCATE = SITE "H14" LEVEL 1;
COMP "DP" LOCATE = SITE "C17" LEVEL 1;
COMP "AN0" LOCATE = SITE "F17" LEVEL 1;
COMP "AN1" LOCATE = SITE "H17" LEVEL 1;
COMP "AN2" LOCATE = SITE "C18" LEVEL 1;
COMP "AN3" LOCATE = SITE "F15" LEVEL 1;
COMP "CLK" LOCATE = SITE "B8" LEVEL 1;
COMP "CA" LOCATE = SITE "L18" LEVEL 1;
COMP "CB" LOCATE = SITE "F18" LEVEL 1;
COMP "CC" LOCATE = SITE "D17" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

