# Push buttons
NET "BTN0" LOC = "B18";
NET "BTN1" LOC = "D18";
NET "BTN2" LOC = "E18";
NET "BTN3" LOC = "H13";

# Switches
NET "SW0" LOC = "G18";
NET "SW1" LOC = "H18";
NET "SW2" LOC = "K18";
NET "SW3" LOC = "K17";
#NET "SW4" LOC = "L14";
#NET "SW5" LOC = "L13";
#NET "SW6" LOC = "N17";
#NET "SW7" LOC = "R17";

# LEDs
NET "LD0" LOC = "J14";
#NET "LD1" LOC = "J15";
#NET "LD2" LOC = "K15";
#NET "LD3" LOC = "K14";
#NET "LD4" LOC = "E17";
#NET "LD5" LOC = "P15";
#NET "LD6" LOC = "F4";
#NET "LD7" LOC = "R4";

# Anodes of 7-segment display
NET "AN0" LOC = "F17";
NET "AN1" LOC = "H17";
NET "AN2" LOC = "C18";
NET "AN3" LOC = "F15";

# Cathodes of 7-segment display
NET "CA" LOC = "L18";
NET "CB" LOC = "F18";
NET "CC" LOC = "D17";
NET "CD" LOC = "D16";
NET "CE" LOC = "G14";
NET "CF" LOC = "J17";
NET "CG" LOC = "H14";
#NET "DP" LOC = "C17";

# Clock (50 MHz)
#NET "CLK" LOC = "B8";
